# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/sonarlint/issuestore/4/4/442292b8a7efeabbe4cc176709b833b1792140ec
